<!-- 
                                   
 ,p6"bo       pd*"*b.      ,p6"bo  
6M'  OO      (O)   j8     6M'  OO  
8M               ,;j9     8M       
YM.    ,      ,-='        YM.    , 
 YMbmd'      Ammmmmmm      YMbmd' 

  -->

<!-- c2c Row -->
<div id="c2cRow" class="fullBlock">
	<div class="c2cContentWrapper">
		<div class="row">
			<h2 class="c2cComment large-12 small-12 large-centered small-centered 	columns">
				Where's the food truck?<br />
				Here's the food truck.
			</h2>
		</div>
		<div class="large-12 small-12 large-centered columns">
			<%= image_tag "c2cPinBig.png", :class => "c2cPinBig" %>
		</div>
		<div class="row">
			<p class="c2cComment large-9 small-12 large-centered small-centered 	columns">
				Coast 2 Coast Deli is a foodtruck serving the greater Las Vegas, NV area. Getting a feel for the overall tone of the site was easy; they clearly wanted it to feel like a New York City style deli, just the kind of of establishment I visit regularly. Inspired by the hand lettering and typography of the classic NYC Deli signs, I found inspiration in some local, classic deli signs and awnings.
			</p>
		</div>
		<div class="row">
			<h4 class="c2cBigText large-10 small-12 large-centered small-centered columns">

			</h4>
		</div>
		<div class="row">
			<h4 class="c2cBigText large-10 small-12 large-centered small-centered columns">
				after a few concepts...
			</h4>
		</div>
		<div class="row bricksBG2 oldSignWrap">
			<div class="large-4 small-5 large-uncentered small-centered columns">
				<%= image_tag "c2cOldSign.png", :class => "oldSign" %>
			</div>
		</div>
		<div class="row bricksBG2 oldSignWrap2">
			<div class="large-6 small-6 small-centered columns">
				<%= image_tag "c2cOldSign2.png", :class => "oldSign2" %>
			</div>
			<div class="large-6 small-7 small-centered columns">
				<%= image_tag "c2cOldSign3.png", :class => "oldSign3" %>
			</div>
		</div>
		<div class="row bricksBG2 oldSignWrap2">
			<div class="large-6 small-8 small-centered columns">
				<%= image_tag "c2cOldSign5.png", :class => "oldSign5" %>
			</div>
			<div class="large-9 small-10 small-centered columns">
				<%= image_tag "c2cOldSign4.png", :class => "oldSign4" %>
			</div>
		</div>
		<div class="row">
			<h4 class="c2cBigText large-10 small-12 large-centered small-centered 	columns">
				...everything came together nicely.
			</h4>
		</div>
		<div class="row signBigRow">
			<div class="large-12 small-12 large-centered columns bricksBGStrong">
				<%= image_tag "c2cHeader.png", :class => "c2cHeader" %>
			</div>
		</div>
		<div class="row">
			<h4 class="c2cBigText large-10 small-12 large-centered small-centered 	columns">
				The mobile design flowed from there
			</h4>
		</div>
		<div class="row c2cIphoneRow">
			<div class="large-5 small-12 columns">
				<%= image_tag "c2cIphone1.png", :class => "c2cIphone1" %>
			</div>
			<div class="large-5 small-12 columns">
				<%= image_tag "c2cIphone1.png", :class => "c2cIphone2" %>
			</div>
		</div>
		<h2 class="c2cComment large-10 small-12 large-centered small-	centered columns">
			Hand-written HTML, CSS, jQuery
		</h4>
		<h2 class="c2cComment large-10 small-12 large-centered small-centered columns">
			<a href="http://c2cdeli.com" target="_blank">View live site</a>
		</h2>
	</div>
</div>

