<!--                                ,,  
                                  `7MM  
                                    MM  
 ,p6"bo   ,6"Yb.  `7Mb,od8 ,pW"Wq.  MM  
6M'  OO  8)   MM    MM' "'6W'   `Wb MM  
8M        ,pm9MM    MM    8M     M8 MM  
YM.    , 8M   MM    MM    YA.   ,A9 MM  
 YMbmd'  `Moo9^Yo..JMML.   `Ybmd9'.JMML. 

 -->

<!-- Carol Row -->
<div id="carolRow" class="fullBlock">
	<div class="row">
		<h2 class="carolComment large-12 small-12 large-centered small-centered columns">Built to exacting standards</h2>
	</div>
	<div class="row">
		<div class="large-12 small-12 large-centered columns">
			<%= image_tag "carolLogoSmall.png", :class => "carolLogoSmall" %>
		</div>
	</div>

	<div class="large-12 small-12 columns">
		<%= image_tag "carolBar.jpg", :class => "carolBar" %>
	</div>
	<div class="row">
		<h4 class="carolComment large-10 small-12 large-centered small-centered columns">
			Designed by graphic designer Carol Beehler in Adobe InDesign, I was trusted with bringing her portfolio to the browser. Her decades of experience with precise typography, color, and layout proved an invaluable collaboration.
		</h4>
	</div>
	<div class="large-12 small-12 columns">
		<%= image_tag "devi.jpg", :class => "devi" %>
	</div>

	<h4 class="carolComment carolCommentDark large-10 small-12 large-centered small-centeredcolumns">
		Hand-written HTML, CSS, jQuery
	</h4>
	<div class="row">
		<div class="large-12 small-12 columns">
			<%= image_tag "anatsui.png", :class => "anatsui" %>
		</div>
	</div>
	<div class="row">
		<div class="large-12 small-12 columns">
			<%= image_tag "carolFull.jpg", :class => "carolFull" %>
		</div>
	</div>
	<h4 class="carolComment carolCommentDark large-10 small-12 large-centered small-centered columns">
		<a href="http://carolbeehlergraphicdesign.com" target="_blank">View live site</a>
		<a class="homeLink">back</a><br />
	</h4>
	<h4 class="carolComment large-10 small-12 large-centered small-centered columns">
		<a class="homeLink">back</a>
	</h4>
</div>