<!--

                                                   
`7MMF'  `7MMF'                                     
  MM      MM                                       
  MM      MM  ,pW"Wq.`7M'   `MF'.gP"Ya `7Mb,od8    
  MMmmmmmmMM 6W'   `Wb VA   ,V ,M'   Yb  MM' "'    
  MM      MM 8M     M8  VA ,V  8M""""""  MM        
  MM      MM YA.   ,A9   VVV   YM.    ,  MM        
.JMML.  .JMML.`Ybmd9'     W     `Mbmmd'.JMML.      
             ,,                                    
`7MM"""Yp, `7MM                  `7MM              
  MM    Yb   MM                    MM              
  MM    dP   MM  ,pW"Wq.   ,p6"bo  MM  ,MP',pP"Ybd 
  MM"""bg.   MM 6W'   `Wb 6M'  OO  MM ;Y   8I   `" 
  MM    `Y   MM 8M     M8 8M       MM;Mm   `YMMMa. 
  MM    ,9   MM YA.   ,A9 YM.    , MM `Mb. L.   I8 
.JMMmmmd9  .JMML.`Ybmd9'   YMbmd'.JMML. YA.M9mmmP'

-->


<!-- Block Row 1 -->
<div class="row blocksWrapper bbq-default">

<!-- Ketch Block Wrapper -->
  <div id="ketchBlockWrapper" class="large-6 columns blockWrapper ketchReveal">
    <div id="ketchClick" class="imgClick small-7 small-centered columns">
      <div class="hoverFade">
        <%= image_tag "ketchBlockCol.png", :class => "ketchBlockCol top blockImg" %>
        <%= image_tag "ketchBlockBW.png", :class => "ketchBlockBW bottom blockImg" %>
      </div>
    </div>
    <div class="ketchHoverText hoverText large-12">
      <p class="ketchHoverP">
        HTML, CSS, JS, design
      </p>
      <p class="ketchHoverP"><a class="ketchReveal">see more</a></p>
    </div>
  </div>


<!-- Porta Block Wrapper -->
  <div id="portaBlockWrapper" class="large-6 columns blockWrapper portaReveal">
    <div id="portaClick" class="imgClick small-8 small-centered columns">
      <div class="hoverFade">
        <%= image_tag "portaBlockCol.png", :class => "portaBlockCol top blockImg" %>
        <%= image_tag "portaBlockBW.png", :class => "portaBlockBW bottom blockImg" %>
        <div class="portaHoverText hoverText">
          <p class="portaHoverP">
            Branding, logo, code
          </p>
        <p class='portaHoverA'><a class="portaReveal" href="#">see more</a></p>
        </div>
      </div>
    </div>
  </div>

<!-- Carol Block Wrapper -->
  <div id="carolBlockWrapper" class="large-6 columns blockWrapper carolReveal">
    <div id="carolClick" class="imgClick small-7 small-centered columns">
      <div class="hoverFade">
        <%= image_tag "carolBlockCol.png", :class => "carolBlockCol centered top blockImg" %>
        <%= image_tag "carolBlockBW.png", :class => "carolBlockBW bottom blockImg" %>
      </div>
    </div>
    <div class="carolHoverText hoverText large-12 columns">
      <p class="carolHoverP">
        <span class="letterFirst">Typography, HTML, CSS & JS</span>
      </p>
      <p class="carolHoverP"><a class="carolReveal">see more</a></p>
    </div>
  </div>
<!-- </div> -->

  <div id="c2cBlockWrapper" class="large-6 columns blockWrapper c2cReveal">
    <div id="c2cClick" class="imgClick small-5 columns small-centered">
      <div class="hoverFade">
        <%= image_tag "c2cBlockCol.png", :class => "c2cBlockCol centered top blockImg" %>
        <%= image_tag "c2cBlockBW.png", :class => "c2cBlockBW bottom blockImg" %>
      </div>
    </div>
    <div class="c2cHoverText hoverText large-12 columns">
      <p class="c2cHoverP">
        Geolocation, design and code
      </p>
      <p class="c2cHoverP"><a class="c2cReveal">see more</a></p>
    </div>
  </div>

<!--  <div id="crawBlockWrapper" class="large-6 columns blockWrapper">
    <div id="crawClick" class="imgClick large-7 small-8 columns small-centered">
      <div class="hoverFade">
        <%= image_tag "crawBlockCol.png", :class => "crawBlockCol centered top blockImg" %>
        <%= image_tag "crawBlockBW.png", :class => "crawBlockBW bottom blockImg" %>
      </div>
    </div>
    <div class="crawHoverText hoverText large-12">
      <p class="crawHoverP">
        Design, HTML, CSS, JS
      </p>
      <p class="crawHoverP"><a href="">see more</a></p>
    </div>
  </div> -->
  <!-- <div class="row">
    <div id="candlBlockWrapper" class="large-6 columns blockWrapper">
      <div id="candlClick" class="imgClick small-10 columns small-centered">
        <div class="hoverFade">
          <%= image_tag "candlBlockCol.png", :class => "candlBlockCol centered top blockImg" %>
          <%= image_tag "candlBlockBW.png", :class => "candlBlockBW bottom blockImg" %>
        </div>
      </div>
      <div class="candlHoverText hoverText large-12">
        <p class="candlHoverP">
          E-commerce, design, HTML, CSS, JS
        </p>
        <p class="candlHoverP"><a href="">see more</a></p>
      </div>
    </div>
  </div> -->
</div> <!-- End Blocks Wrapper -->