<!-- 
                                ,,        
`7MM               mm         `7MM        
  MM               MM           MM        
  MM  ,MP'.gP"Ya mmMMmm ,p6"bo  MMpMMMb.  
  MM ;Y  ,M'   Yb  MM  6M'  OO  MM    MM  
  MM;Mm  8M""""""  MM  8M       MM    MM  
  MM `Mb.YM.    ,  MM  YM.    , MM    MM  
.JMML. YA.`Mbmmd'  `MbmoYMbmd'.JMML  JMML.

 -->                                                                         
<!--  Ketchum Row -->
<div id="ketchRow" class="fullBlock">
  <div class="large-12 small-12 columns">
    <div class="commentText row">
      <h1 class="ketchHeader large-12 small-12 large-centered small-centered columns">
        Static content, brought to life.
      </h1>
    </div>
  </div>
<!--  <div class="ketchHider">
    <iframe id="ketchIframe" src="http://ketchumlabs.com" frameBorder="0"></iframe>
  </div> -->
  <div class="row ketchMakingRow">
    <p class="ketchComment2 large-9 small-11 large-centered small-centered columns">
      <span>Ketchum Labs</span> is a boutique video production house, based out of Los Angeles. When the project was presented to me, the static designs of the site were basically completed in Photoshop. The meat of my role was to animate various elements of the site, mainly the delightfully creative home navigation and video slider.
    </p>
    <div class="large-9 small-9 large-centered small-centered columns">
      <%= image_tag "ketchMaking.png", :class => "ketchMaking" %>
    </div>
  </div>

  <div class="row ketchMakingRow2">
    <p class="ketchComment2 large-9 small-11 large-centered small-centered columns">
      Once I saw the navigation I immediately knew I had to make it. After quite a bit of chopping, measuring, aligning, z-indexing, jQuerying and CSSing, things started to come together. Also included in this project was a video slider/sorter/player, designed and built with Jon, my partner-in-Rails.
    </p>
    <div class="large-10 small-12 large-centered small-centered columns">
      <%= image_tag "ketchMaking3.png", :class => "ketchMaking" %>
    </div>
    <div class="large-10 small-12 large-centered small-centered columns">
      <%= image_tag "ketchPlayer.png", :class => "ketchPlayer" %>
    </div>
  </div>
  <div class="row ketchMakingRow2">
    <p class="ketchComment2 ketchCentered large-7 small-11 large-centered small-centered columns">
      Rails, Amazon S3 (asset storage), GitHub, Heroku, SASS/Compass, jQuery, CSS3
    </p>
<!--    <div class="large-8 small-12 large-centered small-centered columns">
      <div class="large-4 small-8 columns">
        <%= image_tag "ketchumLogo.png", :class => "ketchumLogo" %>
      </div>
      <div class="large-12 small-12 columns ketchThing centered">
        <%= image_tag "ketchBIG.png", :class => "ketchBIG" %>
      </div>
    </div> -->
  </div>
  <p class="ketchComment2 ketchCentered small-11 large-centered small-centered columns">
    <a href="http://ketchumlabs.com" target="_blank">View live Site</a>
  </p>
</div>