
<!--                          mm            
                              MM            
`7MMpdMAo.  ,pW"Wq.`7Mb,od8 mmMMmm  ,6"Yb.  
  MM   `Wb 6W'   `Wb MM' "'   MM   8)   MM  
  MM    M8 8M     M8 MM       MM    ,pm9MM  
  MM   ,AP YA.   ,A9 MM       MM   8M   MM  
  MMbmmd'   `Ybmd9'.JMML.     `Mbmo`Moo9^Yo.
  MM                                        
.JMML.                                       

-->

<!-- Porta Row -->

<div id="portaRow" class="bgBlack">
		<h2 class="portaHeader large-7 small-11 large-centered small-centered columns">
		Always keeping things fresh.
		</h2>
	<div class="row spinPicRow">
		<div class="large-5 small-5 large-centered small-centered columns">
			<%= image_tag "portaSpin.png", :class => "portaSpin" %>
		</div>
	</div>
	<div class="row portaLogoRow">
		<div class="large-3 small-5 small-centered columns">
			<%= image_tag "portaHomeOf.png", :class => "portaHomeOf" %>
		</div>
		<div class="large-5 small-8 small-centered large-centered columns">
			<%= image_tag "portaLogo.png", :class => "portaLogo" %>
		</div>
	</div>
	<div class="commentText row">

	</div>
	<div class="row portaDevicesRow">
		<div class='large-8 small-12 large-centered small-centered columns'>
			<%= image_tag "portaDevices.png", :class => "portaDevices" %>
		</div>
	</div>
	
	<!--
	<div class="commentText row">
		<h4 class="portaComment large-7 small-11 large-centered small-centered columns">
			<span class="commentTextSmall">give 'er a whirl!</span>
		</h4>
	</div>
	-->
	<div class="row">
		<h2 class="portaComment large-7 small-11 large-centered small-centered columns">
			DJ Portarock came to me, asking for a site that moves as fast as he does. I started with customizing the SoundCloud player based on his logo.
			<br />
			<br />
			( press play )
		</h2>
	</div>
	<div class="row playerRow">
		<div class='large-8 large-centered small-12 columns'>
			<!-- %= image_tag "portaPlayer.png", :class => "portaPlayer" % -->
			<a href="https://soundcloud.com/portarock/errolsstunset" class="sc-player"></a>
		</div>
	</div>
	<div class="row">
		<h2 class="portaComment large-7 small-11 large-centered small-centered columns">
			Custom blog post styles
		</h2>
	</div>
	<div class="row portaPostRow">
		<div class='large-8 small-12 large-centered small-centered columns'>
			<%= image_tag "portaBlog.jpg", :class => "portaPost" %>
		</div>
	</div>
	<div class="row">
		<h2 class="portaComment large-7 small-11 large-centered small-centered columns">
			A little bit of groovy artwork
		</h2>
	</div>
	<div class="row portaIconsRow">
		<div class='large-3 small-10 large-centered small-centered columns'>
			<%= image_tag "portaIcons.png", :class => "portaIcons" %>
		</div>
	</div>
	<div class="commentText viewLive row">
	<div class="commentText tech row">
		<h4 class="portaComment large-7 small-11 large-centered small-centered columns">
			<span class="biggerText">
			Tech details:
			</span><br />
			Portarock.com is built with Ruby on Rails,
			Refinery blog engine,
			Zurb Foundation,
			Facebook, Twitter and SoundCloud app/authentication/API,
			and a customized SoundCloud player
		</h4>
	</div>
		<h4 class="portaComment large-7 small-11 large-centered small-centered columns">
			<a class="viewLiveSite" href="http://portarock.com" target="_blank">view live site</a>
			<a class="homeLink">back</a><br />
		</h4>
	</div>
</div> <!-- end #portaRow -->