
<!-- BOSS HEADER -->

<!-- 
<div class="row headerWrapper">
	<div class="large-9 large-centered small-5 small-centered columns topRow redBorder">
		<nav class="top-bar navWrap">
			<div class="sahmBlock row">
	 			<ul class="title-area">
		 			<li class="name">
		 				<h1 class="name" id="logoHeader">
		 					<a href="#">
		 						Robert Sahm
		 					</a>
		 				</h1>
		 			</li>
		 			<li class="toggle-topbar menu-icon">
		 				<a href="#">
		 					<span></span>
		 				</a>
		 			</li>
				</ul>
			</div>
			<section class="top-bar-section navBlock">
				<div class="row greenBorder">
			  	<ul class="centeredList large-11 large-centered small-10 small-centered columns">
			  	  <li><a href="#">work</a></li>
			  	  <li><a href="#">about</a></li>
			  	  <li><a href="#">contact</a></li>
			  	</ul>
			  </div>
			</section>
		</nav>
	</div>
</div> -->
<!--  end row header wrapper -->

<div class="row headerWrapper">
	<nav class="top-bar bgCol">
		<div class="row titleRow">
	 		<ul class="title-area titleUl large-9 large-centered small-9 small-centered columns bgCol">
	 			<li class="name">
	 				<h1 class="name" id="logoHeader">
	 					<a href="#">
	 						<span class="tighten1">R</span><span class="tighten2">ob</span>e<span class="loosen1">r</span>t <span class="loosen2">S</span>a<span class="loosen2">hm</span>
	 					</a>
	 				</h1>
	 			</li>
	 			<li class="toggle-topbar menu-icon">
	 				<a href="#">
	 					<span></span>
	 				</a>
	 			</li>
			</ul>
		</div>
		
		<section class="top-bar-section">
			<div class="row navRow">
				<div class="large-12 large-centered small-12 small-centered columns">
			  	<ul class="left navUl">
			    	<li class="navLi"><a class="bgCol navLink workLink" href="#">work</a></li>
			    	<li class="navLi"><a class="bgCol navLink aboutLink" href="#">about</a></li>
			    	<li class="navLi"><a class="bgCol navLink contactLink" href="#">contact</a></li>
			  	</ul>
				</div>
			</div>
		</section>
	</nav>
</div>

<!-- Title Row ('web design and programmer') -->
<div class="row descWrapper">
	<div class="row topLineRow">
		<div class="topLine large-5 small-7 small-centered large-centered columns"></div>
	</div>
	<div class="row descRow">
		<div class="descWrap large-5 small-9 small-centered large-centered columns">
			<h4 class="desc">front-end web dev</h4>
		</div>
	</div>
</div>



<!-- Intro Row -->
<div class="row rowIntro introHide">
	<div class="large-8 large-centered columns">
		<!-- <h1 class="biggest">I've probably though a little <span class="ital">too</span> much about pixels.</h1> -->
		<!-- <h1 class="biggest">one man band</h1> -->
		<!-- <h1 class="biggest">Let's create something<span class="ital"></span>wonderful</h1>
 -->	
 		<h1 class="biggest">Allow me to <span class="ital">catch</span>your eye.</h1>
	</div>
</div>



<!-- Portarock Big Block -->
<div class="row portaTop portaHide">
	<div class="large-3 small-6 small-centered large-centered columns">
		<%= image_tag "portaBlockCol.png", :class => "shrinkMe" %>
	</div>
</div>

<div id="portaRow" class="bgBlack portaHide fullBlock">
	<div class="row">
		<div class="large-6 small-6 columns">
			<%= image_tag "portaSpin.png", :class => "portaSpin" %>
		</div>
		<div class='large-6 small-6 columns'>
			<%= image_tag "portaDevices.png", :class => "portaDevices" %>
		</div>
	</div>
	<div class="row portaLogoRow">
		<div class="large-3 hide-for-small">
				<%= image_tag "portaLogo.png", :class => "portaLogo" %>
		</div>
	</div>

	<!-- bottom info section -->
	<div class="screenStrech portaInfo">
		<div class="row">
			<div class="large-8 large-centered columns">
				<p1 class="portaText">
					Portarock.com - rails, html, sass, and js.
				</p1>
			</div>
		</div>
	</div>


	<div class="screenStrech portaInfo">
		<div class="row">
			<div class='large-9 large-centered columns'>
				<%= image_tag "portaPlayer.png", :class => "portaPlayer" %>
			</div>
		</div>
	</div>


	<div class="screenStrech portaInfo">
		<div class="row">
			<div class="large-8 large-centered columns">
				<p1 class="portaText portaRed">
					I did mad stuff for this, yo!
				</p1>
			</div>
		</div>
	</div>

</div>


















<!--                                           
`7MM"""Yp, `7MM                  `7MM             
  MM    Yb   MM                    MM             
  MM    dP   MM  ,pW"Wq.   ,p6"bo  MM  ,MP,pP"Ybd 
  MM"""bg.   MM 6W'   `Wb 6M'  OO  MM ;Y  8I   `" 
  MM    `Y   MM 8M     M8 8M       MM;Mm  `YMMMa. 
  MM    ,9   MM YA.   ,A9 YM.    , MM `Mb.L.   I8 
.JMMmmmd9  .JMML.`Ybmd9'   YMbmd'.JMML. YAM9mmmP'  -->

<!-- Block Row 1 -->
<div class="row blocksWrapper">

<!-- Porta Block Wrapper -->
	<div id="portaBlockWrapper" class="large-6 columns blockWrapper">
		<div id="portaClick" class="imgClick small-8 small-centered columns">
			<div class="hoverFade">
				<%= image_tag "portaBlockCol.png", :class => "portaBlockCol top blockImg" %>
				<%= image_tag "portaBlockBW.png", :class => "portaBlockBW bottom blockImg" %>
				<div class="portaHoverText hoverText">
					<p class="portaHoverP">
						Branding, logo, code
					</p>
				<p class='portaHoverA'><a href="">see more</a></p>
				</div>
			</div>
		</div>
	</div>

<!-- Ketch Block Wrapper -->
	<div id="ketchBlockWrapper" class="large-6 columns blockWrapper">
		<div id="ketchClick" class="imgClick small-7 small-centered columns">
			<div class="hoverFade">
		  	<%= image_tag "ketchBlockCol.png", :class => "ketchBlockCol top blockImg" %>
				<%= image_tag "ketchBlockBW.png", :class => "ketchBlockBW bottom blockImg" %>
			</div>
		</div>
		<div class="ketchHoverText hoverText large-12">
			<p class="ketchHoverP">
				HTML, CSS, JS, design
			</p>
			<p class="ketchHoverP"><a href="">see more</a></p>
		</div>
	</div>

<!-- Carol Block Wrapper -->
	<div id="carolBlockWrapper" class="large-6 columns blockWrapper">
		<div id="carolClick" class="imgClick small-7 small-centered columns">
			<div class="hoverFade">
				<%= image_tag "carolBlockCol.png", :class => "carolBlockCol centered top blockImg" %>
				<%= image_tag "carolBlockBW.png", :class => "carolBlockBW bottom blockImg" %>
			</div>
		</div>
		<div class="carolHoverText hoverText large-12 columns">
			<p class="carolHoverP">
				<span class="letterFirst">Typography, HTML, CSS & JS 
			</p>
			<p class="carolHoverP"><a href="">see more</a></p>
		</div>
	</div>
<!-- </div> -->

	<div id="c2cBlockWrapper" class="large-6 columns blockWrapper">
		<div id="c2cClick" class="imgClick small-5 columns small-centered">
			<div class="hoverFade">
				<%= image_tag "c2cBlockCol.png", :class => "c2cBlockCol centered top blockImg" %>
				<%= image_tag "c2cBlockBW.png", :class => "c2cBlockBW bottom blockImg" %>
			</div>
		</div>
		<div class="c2cHoverText hoverText large-12 columns">
			<p class="c2cHoverP">
				Geolocation, design and code
			</p>
			<p class="c2cHoverP"><a href="">see more</a></p>
		</div>
	</div>

	<div id="crawBlockWrapper" class="large-6 columns blockWrapper">
		<div id="crawClick" class="imgClick large-7 small-8 columns small-centered">
			<div class="hoverFade">
				<%= image_tag "crawBlockCol.png", :class => "crawBlockCol centered top blockImg" %>
				<%= image_tag "crawBlockBW.png", :class => "crawBlockBW bottom blockImg" %>
			</div>
		</div>
		<div class="crawHoverText hoverText large-12">
			<p class="crawHoverP">
				Design, HTML, CSS, JS
			</p>
			<p class="crawHoverP"><a href="">see more</a></p>
		</div>
	</div>

	<div id="candlBlockWrapper" class="large-6 columns blockWrapper">
		<div id="candlClick" class="imgClick small-10 columns small-centered">
			<div class="hoverFade">
				<%= image_tag "candlBlockCol.png", :class => "candlBlockCol centered top blockImg" %>
				<%= image_tag "candlBlockBW.png", :class => "candlBlockBW bottom blockImg" %>
			</div>
		</div>
		<div class="candlHoverText hoverText large-12">
			<p class="candlHoverP">
				E-commerce, design, HTML, CSS, JS
			</p>
			<p class="candlHoverP"><a href="">see more</a></p>
		</div>
	</div>
<!-- </div> -->
















<!-- 	Ketchum Section -->

<div class="ketchumWrapper fullBlock ketchBigBlock">
	<%= image_tag "copyjunk.png", :class => "copyjunk" %>

	<div class="row ketchTexture">
	</div>

	<div class="row">
		<!--  %= image_tag "ketchumBG.png", :class => "ketchumBG" % -->
		<div class="large-4 small-4 columns">
			<%= image_tag "ketchumLogo.png", :class => "ketchumLogo" %>
		</div>
		<div class="large-12 small-12 columns ketchThing">
			<%= image_tag "ketchBIG.png", :class => "ketchShape" %>
		</div>
	</div>
</div>

<!-- Carol Beehler Section -->

<div class="carolWrapper fullBlock carolBigBlock">
	<div class="row">
		<div class="large-6 small-6 columns">
			<%= image_tag "carolLogo.png", :class => "carolLogo" %>
		</div>
	</div>
	<div class='row'>
		<%= image_tag "carolContentTop.jpg", :class => "carolContentTop" %>
	</div>
</div>

<!-- c2c Deli Section -->

<div class="c2cWrapper fullBlock c2cBigBlock">
	<div class='row'>
		<div class="large-10 small-10 centered columns">
			<%= image_tag "c2cAwning.png", :class => "c2cAwning" %>
		</div>
	</div>
</div>

<!-- c2c Deli Section -->

<div class="crawWrapper centered fullBlock crawBigBlock">
	<div class="row">
		<%= image_tag "crawHeader.png", :class => "crawHeader centered" %>
	</div>
</div>
