<div class="row">
	<div class="large-9 small-12 columns large-centered small-centered contain-to-grid header">
		<nav class="top-bar">
		  <ul class="title-area">
		    <!-- Title Area -->
		    <li class="name">
		      <h1 class="logo"><a href="#">Robert Sahm</a></h1>
		    </li>
		    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just 	have icon alone -->
		    <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
		  </ul>
		
		  <section class="top-bar-section">
		    <!-- Left Nav Section -->
		    <ul class="right navUl">
		      <li class="navItem"><a class="navLink" href="#">work</a></li>
		      <li class="navItem"><a class="navLink" href="#">about</a></li>
		      <li class="navItem"><a class="navLink" href="#">contact</a></li>
			   </ul>
		  </section>
		</nav>
	</div>
</div>

<div id="container">
	<div class="lower">
		<h1>Back</h1>
		<p>Works in IE10, Chrome, Firefox & Safari</p>
		<p>Source <a href="http://www.cssplay.co.uk/menu/css3-3d-card.html">CssPlay</a>
	</div>
	<div class="upper">
		<h1>Front</h1>
		<p>Works in IE10, Chrome, Firefox & Safari</p>
		<p>Source <a href="http://www.cssplay.co.uk/menu/css3-3d-card.html">CssPlay</a>
	</div>
</div>


<!--  <div id="myFlippyBox" height ="200px" width="200px">

    <h1 class="logo">Robert Sahm</h1>
 </div>
 -->
<div class="row">
	<div class="row blockWrapper">
		<div class="portaBlockWrapper large-4 columns">
			<div class="flipbox-container">
				<div id="myFlippyBox">
				    <%= image_tag "portaBlock.png", :class => "portaBlock" %>
				</div>
			</div>
		</div>
	</div>
</div>






<div class="row">
	<div class="row blockWrapper">
		<div class="portaBlockWrapper large-4 columns">
<!-- 			<section class="container">
  			<div id="card">
    			<figure class="front"><%= image_tag "portaBlock.png", :class => "portaBlock" %></figure>
    			<figure class="back"><%= image_tag "ketchBlock.png", :class => "ketchBlock" %></figure>
  			</div>
			</section>
			<section id="options">
				<p>
					<button id="flip">Flip Card</button>
				</p>
			</section> -->

		<%= image_tag "portaBlock.png", :class => "portaBlock small-12 small-centered" %>
		</div>









		<div class="ketchBlockWrapper large-4 columns">
			<%= image_tag "ketchBlock.png", :class => "ketchBlock small-12 small-centered" %>
		</div>
			<div class="c2cBlockWrapper large-4 columns">
			<%= image_tag "c2cBlock.png", :class => "c2cBlock small-12 small-centered" %>
		</div>
	</div>
	
	<div class="row blockWrapper">
		<div class="portaBlockWrapper large-4 columns">
			<%= image_tag "portaBlock.png", :class => "portaBlock small-12 small-centered" %>
		</div>
		<div class="ketchBlockWrapper large-4 columns">
			<%= image_tag "ketchBlock.png", :class => "ketchBlock small-12 small-centered" %>
		</div>
			<div class="c2cBlockWrapper large-4 columns">
			<%= image_tag "c2cBlock.png", :class => "c2cBlock small-12 small-centered" %>
		</div>
	</div>
</div>




<!-- Portarock Section -->


<div class="bgBlack fullBlock">
	<div class="row">
		<div class="large-6 small-6 columns">
			<%= image_tag "portaSpin.png", :class => "portaSpin" %>
		</div>
		<div class='large-6 small-6 columns'>
			<%= image_tag "portaDevices.png", :class => "portaDevices" %>
		</div>
	</div>
	<div class="row portaLogoRow">
		<div class="large-3 small-3">
				<%= image_tag "portaLogo.png", :class => "portaLogo" %>
		</div>
	</div>
</div>

<!-- Ketchum Section -->

<div class="ketchumWrapper fullBlock">
	<%= image_tag "copyjunk.png", :class => "copyjunk" %>

	<div class="row ketchTexture">
	</div>

	<div class="row">
		<!--  %= image_tag "ketchumBG.png", :class => "ketchumBG" % -->
		<div class="large-4 small-4 columns">
			<%= image_tag "ketchumLogo.png", :class => "ketchumLogo" %>
		</div>
		<div class="large-12 small-12 columns ketchThing">
			<%= image_tag "ketchBIG.png", :class => "ketchShape" %>
		</div>
	</div>
</div>

<!-- Carol Beehler Section -->

<div class="carolWrapper fullBlock">
	<div class="row">
		<div class="large-6 small-6 columns">
			<%= image_tag "carolLogo.png", :class => "carolLogo" %>
		</div>
	</div>
	<div class='row'>
		<%= image_tag "carolContentTop.jpg", :class => "carolContentTop" %>
	</div>
</div>

<!-- c2c Deli Section -->

<div class="c2cWrapper fullBlock">
	<div class='row'>
		<div class="large-10 small-10 centered columns">
			<%= image_tag "c2cAwning.png", :class => "c2cAwning" %>
		</div>
	</div>
</div>

<!-- c2c Deli Section -->

<div class="crawWrapper centered fullBlock">
	<div class="row">
		<%= image_tag "crawHeader.png", :class => "crawHeader centered" %>
	</div>
</div>
