
<!-- 
                                                                             
                    ,,    
 `7MMF'  `7MMF' db  OO 
   MM      MM       88 
   MM      MM `7MM  || 
   MMmmmmmmMM   MM  || 
   MM      MM   MM  `' 
   MM      MM   MM  ,, 
 .JMML.  .JMML.JMML db 
                                                 
  ,,                                                   
`7MM                                                   
  MM                                                   
  MMpMMMb.   ,6"Yb.`7M'   `MF'.gP"Ya       ,6"Yb.      
  MM    MM  8)   MM  VA   ,V ,M'   Yb     8)   MM      
  MM    MM   ,pm9MM   VA ,V  8M""""""      ,pm9MM      
  MM    MM  8M   MM    VVV   YM.    ,     8M   MM      
.JMML  JMML.`Moo9^Yo.   W     `Mbmmd'     `Moo9^Yo.    
  ,,                                                   
`7MM                   `7MM                            
  MM                     MM                            
  MM  ,pW"Wq.   ,pW"Wq.  MM  ,MP'                      
  MM 6W'   `Wb 6W'   `Wb MM ;Y                         
  MM 8M     M8 8M     M8 MM;Mm                         
  MM YA.   ,A9 YA.   ,A9 MM `Mb.                       
.JMML.`Ybmd9'   `Ybmd9'.JMML. YA.   
                                                      ,,  
                                                     `7MM  
                                                       MM  
 ,6"Yb.  `7Mb,od8 ,pW"Wq.`7MM  `7MM  `7MMpMMMb.   ,M""bMM  
8)   MM    MM' "'6W'   `Wb MM    MM    MM    MM ,AP    MM  
 ,pm9MM    MM    8M     M8 MM    MM    MM    MM 8MI    MM  
8M   MM    MM    YA.   ,A9 MM    MM    MM    MM `Mb    MM  
`Moo9^Yo..JMML.   `Ybmd9'  `Mbod"YML..JMML  JMML.`Wbmd"MML.                   

-->                                                 

<!-- BOSS HEADER -->
<div class="ribbonWrapper">
	<div class="gitRibbon">
		<a href="https://github.com/robertSahm" target="_blank">
			Get forkin' on <span>GitHub</span>
		</a>
	</div>
</div>
<div class="row headerWrapper">
	<nav class="top-bar bgCol">
		<div class="row logoRSRow">
			<!-- Header Logo (all css!) -->
				<div class="large-5 small-5 large-centered small-centered columns">
					<div class="logoBorder">
						<a class=" headerClick braceLeft">&#123;</a>
						<a class=" headerClick logoR">R</a>
						<a class=" headerClick logoS">S</a>
						<a class=" headerClick braceRight">&#125;</a>
					</div>
				</div>
			</div>
		<div class="row titleRow">
	 		<ul class="title-area titleUl large-9 large-centered small-9 small-centered columns bgCol">
	 			<li class="name">
	 				<h1 class="name" id="logoHeader">
	 					<a class="headerClick" href="#">
	 						<span class="tighten1">R</span><span class="tighten2">ob</span>e<span class="loosen1">r</span>t <span class="loosen2">S</span>a<span class="loosen2">hm</span>
	 					</a>
	 				</h1>
	 			</li>
	 			<li class="toggle-topbar menu-icon">
	 				<a href="#">
	 					<span></span>
	 				</a>
	 			</li>
			</ul>
		</div>
		<section class="top-bar-section">
			<div class="row navRow">
				<div class="large-12 large-centered small-12 small-centered columns">
			  	<ul class="left navUl">
			    	<li class="navLi"><a class="bgCol navLink workLink" href="#">work</a></li>
			    	<li class="navLi"><a class="bgCol navLink aboutLink" href="#">about</a></li>
			    	<li class="navLi"><a class="bgCol navLink contactLink" href="#">contact</a></li>
			  	</ul>
				</div>
			</div>
		</section>
	</nav>
</div> <!-- end row header wrapper -->

<!-- Title Row ('web design and programmer') -->
<div class="row descWrapper">
	<div class="row topLineRow">
		<div class="topLine large-5 small-7 small-centered large-centered columns"></div>
	</div>
	<div class="row descRow">
		<div class="descWrap large-5 small-9 small-centered large-centered columns">
			<h4 class="desc">front-end web dev</h4>
		</div>
	</div>
</div>

<!-- Intro Row -->
<div id="rowIntro" class="row rowIntro introHide">
	<div class="large-12 small-12 small-centered large-centered columns introWrapper">
		<!-- <h1 class="biggest">I've probably thought a little <span class="ital">too</span> much about pixels.</h1> -->
		<!-- <h1 class="biggest">one man band</h1> -->
		<h1 class="biggest">Let's create something</h1>
		<!-- <h1 class="biggestItal">\ˈwəndərfəl\</h1> -->
		<div id="fittext">
			<h1 id="introWord1" class="biggestItal">
				<a class="w introLetter">w</a><a class="o introLetter">o</a><a class="n introLetter">n</a><a class="dot1 introLetter">·</a><a class="d introLetter">d</a><a class="e introLetter">e</a><a class="r introLetter">r</a><a class="dot2 introLetter">·</a><a class="f introLetter">f</a><a class="u introLetter">u</a><a class="l introLetter">l</a>
			</h1>
			<h1 id="introWord2" class="biggestItal biggestItal2 large-12 small-12 small-centered large-centered columns">
				<a class="e2 introLetter2">e</a><a class="x2 introLetter2">x</a><a class="dot1b introLetter2">·</a><a class="c2 introLetter2">c</a><a class="i2 introLetter2">i</a><a class="t2 introLetter2">t</a><a class="dot2b introLetter2">·</a><a class="i2b introLetter2">i</a><a class="n2 introLetter2">n</a><a class="g2 introLetter2">g</a><a class="chk introLetter2">!</a>
			</h1>
		</div>
	</div>
</div> <!-- End intro row -->
<div class="workIntroText large-12 small-12 small-centered large-centered columns">
	<h1 class="">Please enjoy a choice selection of my recent work:</h2>
</div>


<!-- 

       ,M' dP `7MM"""Mq.                                   
       dP .M'   MM   `MM.                                  
    mmmMmmMmm   MM   ,M9  ,pW"Wq.`7M'    ,A    `MF',pP"Ybd 
      MP dP     MMmmdM9  6W'   `Wb VA   ,VAA   ,V  8I   `" 
   mmdMmmMmmm   MM  YM.  8M     M8  VA ,V  VA ,V   `YMMMa. 
    ,M' dP      MM   `Mb.YA.   ,A9   VVV    VVV    L.   I8 
    dP ,M'    .JMML. .JMM.`Ybmd9'     W      W     M9mmmP' 
                                    
-->                             
     
<!-- 
                                ,,        
`7MM               mm         `7MM        
  MM               MM           MM        
  MM  ,MP'.gP"Ya mmMMmm ,p6"bo  MMpMMMb.  
  MM ;Y  ,M'   Yb  MM  6M'  OO  MM    MM  
  MM;Mm  8M""""""  MM  8M       MM    MM  
  MM `Mb.YM.    ,  MM  YM.    , MM    MM  
.JMML. YA.`Mbmmd'  `MbmoYMbmd'.JMML  JMML.

 -->                                                                         
<!-- 	Ketchum Row -->
<div id="ketchRow" class="fullBlock">
	<div class="large-12 small-12 columns">
		<div class="commentText row">
			<h1 class="ketchHeader large-12 small-12 large-centered small-centered columns">
				Static content, brought to life.
			</h1>
		</div>
	</div>
<!-- 	<div class="ketchHider">
		<iframe id="ketchIframe" src="http://ketchumlabs.com" frameBorder="0"></iframe>
	</div> -->
	<div class="row ketchMakingRow">
		<p class="ketchComment2 large-11 small-11 large-centered small-centered columns">
			<span>Ketchum Labs</span> is a boutique video production house, based out of Los Angeles. When the project was presented to me, the static designs of the site were basically completed in Photoshop. The meat of my role was to animate various elements of the site, mainly the delightfully creative home navigation and video slider.
		</p>
		<div class="large-8 small-11 large-centered small-centered columns">
			<%= image_tag "ketchMaking2.png", :class => "ketchMaking" %>
		</div>
	</div>
	<div class="row ketchMakingRow2">
		<p class="ketchComment2 large-7 small-11 large-centered small-centered columns">
			Once I saw the navigation I immediately knew I had to make it. After quite a bit of chopping, measuring, aligning, z-indexing, jQuerying and CSSing things started to come together. 
		</p>
		<div class="large-8 small-9 large-centered small-centered columns">
			<%= image_tag "ketchMaking.png", :class => "ketchMaking" %>
		</div>
		<p class="ketchComment2 large-7 small-11 large-centered small-centered columns">
			Also included was a video slider/sorter/player, designed and built with Jon, my partner-in-Rails.
		</p>
		<div class="large-12 small-12 columns">
			<%= image_tag "ketchMaking3.png", :class => "ketchMaking3" %>
		</div>
		<div class="large-12 small-12 columns">
			<%= image_tag "ketchPlayer.png", :class => "ketchPlayer" %>
		</div>
	</div>
	<div class="row ketchMakingRow2">
		<p class="ketchComment2 large-7 small-11 large-centered small-centered columns">
			...and with a few simple jQuery and CSS animations, it all came together.
		</p>
		<div class="large-8 small-12 large-centered small-centered columns">
			<div class="large-4 small-8 columns">
				<%= image_tag "ketchumLogo.png", :class => "ketchumLogo" %>
			</div>
			<div class="large-12 small-12 columns ketchThing">
				<%= image_tag "ketchBIG.png", :class => "ketchBIG" %>
			</div>
		</div>
	</div>
	<h2 class="ketchComment2 small-11 large-centered small-centered columns">
		<a href="http://ketchumlabs.com" target="_blank">Live Site</a>
	</h2>
</div>


<!--                          mm            
                              MM            
`7MMpdMAo.  ,pW"Wq.`7Mb,od8 mmMMmm  ,6"Yb.  
  MM   `Wb 6W'   `Wb MM' "'   MM   8)   MM  
  MM    M8 8M     M8 MM       MM    ,pm9MM  
  MM   ,AP YA.   ,A9 MM       MM   8M   MM  
  MMbmmd'   `Ybmd9'.JMML.     `Mbmo`Moo9^Yo.
  MM                                        
.JMML.                                       

-->

<!-- Porta Row -->
<div id="portaRow" class="bgBlack">
	<div class="row spinPicRow">
		<div class="large-5 small-5 large-centered small-centered columns">
			<%= image_tag "portaSpin.png", :class => "portaSpin" %>
		</div>
	</div>
	<div class="row portaLogoRow">
		<div class="large-3 small-5 small-centered columns">
			<%= image_tag "portaHomeOf.png", :class => "portaHomeOf" %>
		</div>
		<div class="large-5 small-8 small-centered large-centered columns">
			<%= image_tag "portaLogo.png", :class => "portaLogo" %>
		</div>
	</div>
	<div class="commentText row">
		<h2 class="portaComment large-7 small-11 large-centered small-centered columns">
			Fully-responsive blogging platform for the Manhattan based DJ Portarock
		</h2>
	</div>
	<div class="row portaDevicesRow">
		<div class='large-8 small-12 large-centered small-centered columns'>
			<%= image_tag "portaDevices.png", :class => "portaDevices" %>
		</div>
	</div>
	<div class="commentText tech row">
		<h4 class="portaComment large-7 small-11 large-centered small-centered columns">
			<span class="biggerText">
			Tech details:
			</span><br />
			Ruby on Rails<br />
			Refinery blog engine<br />
			Zurb Foundation front-end framework<br />
			Facebook and SoundCloud API authentication<br />
			customized SoundCloud player
		</h4>
	</div>
	<!--
	<div class="commentText row">
		<h4 class="portaComment large-7 small-11 large-centered small-centered columns">
			<span class="commentTextSmall">give 'er a whirl!</span>
		</h4>
	</div>
	-->
	<div class="row playerRow">
		<div class='large-8 large-centered small-12 columns'>
			<!-- %= image_tag "portaPlayer.png", :class => "portaPlayer" % -->
			<a href="https://soundcloud.com/portarock/errolsstunset" class="sc-player"></a>
		</div>
	</div>
	<div class="row portaPostRow">
		<div class='large-10 small-12 large-centered small-centered columns'>
			<%= image_tag "portaBlog.jpg", :class => "portaPost" %>
		</div>
	</div>
	<div class="row portaIconsRow">
		<div class='large-3 small-10 large-centered small-centered columns'>
			<%= image_tag "portaIcons.png", :class => "portaIcons" %>
		</div>
	</div>
	<div class="commentText viewLive row">
		<h4 class="portaComment large-7 small-11 large-centered small-centered columns">
			<a class="viewLiveSite" href="http://portarock.com" target="_blank">view live site</a>
			<a class="homeLink">back</a><br />
		</h4>
	</div>
</div> <!-- end #portaRow -->


<!--                                ,,  
                                  `7MM  
                                    MM  
 ,p6"bo   ,6"Yb.  `7Mb,od8 ,pW"Wq.  MM  
6M'  OO  8)   MM    MM' "'6W'   `Wb MM  
8M        ,pm9MM    MM    8M     M8 MM  
YM.    , 8M   MM    MM    YA.   ,A9 MM  
 YMbmd'  `Moo9^Yo..JMML.   `Ybmd9'.JMML. 

 -->

<!-- Carol Row -->
<div id="carolRow" class="fullBlock">
	<div class="row">
		<h2 class="carolComment large-12 small-12 large-centered small-centered columns">Built to exacting standards</h2>
	</div>
	<div class="row">
		<div class="large-12 small-12 large-centered columns">
			<%= image_tag "carolLogoSmall.png", :class => "carolLogoSmall" %>
		</div>
	</div>

	<div class="large-12 small-12 columns">
		<%= image_tag "carolBar.jpg", :class => "carolBar" %>
	</div>
	<div class="row">
		<h4 class="carolComment large-10 small-12 large-centered small-centered columns">
			Designed by graphic designer Carol Beehler in Adobe InDesign, I was trusted with bringing her portfolio to the browser. Her decades of experience with precise typography, color, and layout proved an invaluable collaboration.
		</h4>
	</div>
	<div class="large-12 small-12 columns">
		<%= image_tag "devi.jpg", :class => "devi" %>
	</div>

	<h4 class="carolComment carolCommentDark large-10 small-12 large-centered small-centeredcolumns">
		Hand-written HTML, CSS, jQuery
	</h4>
	<div class="row">
		<div class="large-12 small-12 columns">
			<%= image_tag "anatsui.png", :class => "anatsui" %>
		</div>
	</div>
	<div class="row">
		<div class="large-12 small-12 columns">
			<%= image_tag "carolFull.jpg", :class => "carolFull" %>
		</div>
	</div>
	<h4 class="carolComment carolCommentDark large-10 small-12 large-centered small-centeredcolumns">
		<a href="http://carolbeehlergraphicdesign.com" target="_blank">View live site</a>
	</h4>
</div>

<!-- 
                                   
 ,p6"bo       pd*"*b.      ,p6"bo  
6M'  OO      (O)   j8     6M'  OO  
8M               ,;j9     8M       
YM.    ,      ,-='        YM.    , 
 YMbmd'      Ammmmmmm      YMbmd' 

  -->

<!-- c2c Row -->
<div id="c2cRow" class="fullBlock">
	<div class="c2cContentWrapper">
		<div class="row">
			<h2 class="c2cComment large-12 small-12 large-centered small-centered 	columns">
				Where's the food truck?<br />
				Here's the food truck.
			</h2>
		</div>
		<div class="large-12 small-12 large-centered columns">
			<%= image_tag "c2cPinBig.png", :class => "c2cPinBig" %>
		</div>
		<div class="row">
			<p class="c2cComment large-9 small-12 large-centered small-centered 	columns">
				Coast 2 Coast Deli is a foodtruck serving the greater Las Vegas, NV area. Getting a feel for the overall tone of the site was easy, they clearly wanted it to feel like a New York City style deli, just the kind of of establishment I visit regularly.Inspired by the hand lettering and typography of the classic NYC Deli signs, I found inspiration in some local, classic deli signs and awnings.
			</p>
		</div>
		<div class="row">
			<h4 class="c2cBigText large-10 small-12 large-centered small-centered columns">

			</h4>
		</div>
		<div class="row">
			<h4 class="c2cBigText large-10 small-12 large-centered small-centered columns">
				after a few concepts...
			</h4>
		</div>
		<div class="row bricksBG2 oldSignWrap">
			<div class="large-4 small-5 large-uncentered small-centered columns">
				<%= image_tag "c2cOldSign.png", :class => "oldSign" %>
			</div>
		</div>
		<div class="row bricksBG2 oldSignWrap2">
			<div class="large-6 small-6 small-centered columns">
				<%= image_tag "c2cOldSign2.png", :class => "oldSign2" %>
			</div>
			<div class="large-6 small-7 small-centered columns">
				<%= image_tag "c2cOldSign3.png", :class => "oldSign3" %>
			</div>
		</div>
		<div class="row bricksBG2 oldSignWrap2">
			<div class="large-6 small-8 small-centered columns">
				<%= image_tag "c2cOldSign5.png", :class => "oldSign5" %>
			</div>
			<div class="large-9 small-10 small-centered columns">
				<%= image_tag "c2cOldSign4.png", :class => "oldSign4" %>
			</div>
		</div>
		<div class="row">
			<h4 class="c2cBigText large-10 small-12 large-centered small-centered 	columns">
				...everything came together nicely.
			</h4>
		</div>
		<div class="row signBigRow">
			<div class="large-12 small-12 large-centered columns bricksBGStrong">
				<%= image_tag "c2cHeader.png", :class => "c2cHeader" %>
			</div>
		</div>
		<div class="row">
			<h4 class="c2cBigText large-10 small-12 large-centered small-centered 	columns">
				The mobile design flowed from there
			</h4>
		</div>
		<div class="row c2cIphoneRow">
			<div class="large-5 small-12 columns">
				<%= image_tag "c2cIphone1.png", :class => "c2cIphone1" %>
			</div>
			<div class="large-5 small-12 columns">
				<%= image_tag "c2cIphone1.png", :class => "c2cIphone2" %>
			</div>
		</div>
		<h2 class="c2cComment large-10 small-12 large-centered small-	centered columns">
			Hand-written HTML, CSS, jQuery
		</h4>
		<h2 class="c2cComment large-10 small-12 large-centered small-centered columns">
			<a href="http://c2cdeli.com" target="_blank">View live site</a>
		</h2>
	</div>
</div>




<!--

                                                   
`7MMF'  `7MMF'                                     
  MM      MM                                       
  MM      MM  ,pW"Wq.`7M'   `MF'.gP"Ya `7Mb,od8    
  MMmmmmmmMM 6W'   `Wb VA   ,V ,M'   Yb  MM' "'    
  MM      MM 8M     M8  VA ,V  8M""""""  MM        
  MM      MM YA.   ,A9   VVV   YM.    ,  MM        
.JMML.  .JMML.`Ybmd9'     W     `Mbmmd'.JMML.      
             ,,                                    
`7MM"""Yp, `7MM                  `7MM              
  MM    Yb   MM                    MM              
  MM    dP   MM  ,pW"Wq.   ,p6"bo  MM  ,MP',pP"Ybd 
  MM"""bg.   MM 6W'   `Wb 6M'  OO  MM ;Y   8I   `" 
  MM    `Y   MM 8M     M8 8M       MM;Mm   `YMMMa. 
  MM    ,9   MM YA.   ,A9 YM.    , MM `Mb. L.   I8 
.JMMmmmd9  .JMML.`Ybmd9'   YMbmd'.JMML. YA.M9mmmP'

-->


<!-- Block Row 1 -->
<div class="row blocksWrapper">

<!-- Ketch Block Wrapper -->
	<div id="ketchBlockWrapper" class="large-6 columns blockWrapper ketchReveal">
		<div id="ketchClick" class="imgClick small-7 small-centered columns">
			<div class="hoverFade">
		  	<%= image_tag "ketchBlockCol.png", :class => "ketchBlockCol top blockImg" %>
				<%= image_tag "ketchBlockBW.png", :class => "ketchBlockBW bottom blockImg" %>
			</div>
		</div>
		<div class="ketchHoverText hoverText large-12">
			<p class="ketchHoverP">
				HTML, CSS, JS, design
			</p>
			<p class="ketchHoverP"><a class="ketchReveal">see more</a></p>
		</div>
	</div>


<!-- Porta Block Wrapper -->
	<div id="portaBlockWrapper" class="large-6 columns blockWrapper portaReveal">
		<div id="portaClick" class="imgClick small-8 small-centered columns">
			<div class="hoverFade">
				<%= image_tag "portaBlockCol.png", :class => "portaBlockCol top blockImg" %>
				<%= image_tag "portaBlockBW.png", :class => "portaBlockBW bottom blockImg" %>
				<div class="portaHoverText hoverText">
					<p class="portaHoverP">
						Branding, logo, code
					</p>
				<p class='portaHoverA'><a class="portaReveal" href="#">see more</a></p>
				</div>
			</div>
		</div>
	</div>

<!-- Carol Block Wrapper -->
	<div id="carolBlockWrapper" class="large-6 columns blockWrapper carolReveal">
		<div id="carolClick" class="imgClick small-7 small-centered columns">
			<div class="hoverFade">
				<%= image_tag "carolBlockCol.png", :class => "carolBlockCol centered top blockImg" %>
				<%= image_tag "carolBlockBW.png", :class => "carolBlockBW bottom blockImg" %>
			</div>
		</div>
		<div class="carolHoverText hoverText large-12 columns">
			<p class="carolHoverP">
				<span class="letterFirst">Typography, HTML, CSS & JS</span>
			</p>
			<p class="carolHoverP"><a class="carolReveal">see more</a></p>
		</div>
	</div>
<!-- </div> -->

	<div id="c2cBlockWrapper" class="large-6 columns blockWrapper c2cReveal">
		<div id="c2cClick" class="imgClick small-5 columns small-centered">
			<div class="hoverFade">
				<%= image_tag "c2cBlockCol.png", :class => "c2cBlockCol centered top blockImg" %>
				<%= image_tag "c2cBlockBW.png", :class => "c2cBlockBW bottom blockImg" %>
			</div>
		</div>
		<div class="c2cHoverText hoverText large-12 columns">
			<p class="c2cHoverP">
				Geolocation, design and code
			</p>
			<p class="c2cHoverP"><a class="c2cReveal">see more</a></p>
		</div>
	</div>

<!-- 	<div id="crawBlockWrapper" class="large-6 columns blockWrapper">
		<div id="crawClick" class="imgClick large-7 small-8 columns small-centered">
			<div class="hoverFade">
				<%= image_tag "crawBlockCol.png", :class => "crawBlockCol centered top blockImg" %>
				<%= image_tag "crawBlockBW.png", :class => "crawBlockBW bottom blockImg" %>
			</div>
		</div>
		<div class="crawHoverText hoverText large-12">
			<p class="crawHoverP">
				Design, HTML, CSS, JS
			</p>
			<p class="crawHoverP"><a href="">see more</a></p>
		</div>
	</div> -->
	<!-- <div class="row">
		<div id="candlBlockWrapper" class="large-6 columns blockWrapper">
			<div id="candlClick" class="imgClick small-10 columns small-centered">
				<div class="hoverFade">
					<%= image_tag "candlBlockCol.png", :class => "candlBlockCol centered top blockImg" %>
					<%= image_tag "candlBlockBW.png", :class => "candlBlockBW bottom blockImg" %>
				</div>
			</div>
			<div class="candlHoverText hoverText large-12">
				<p class="candlHoverP">
					E-commerce, design, HTML, CSS, JS
				</p>
				<p class="candlHoverP"><a href="">see more</a></p>
			</div>
		</div>
	</div> -->
</div> <!-- End Blocks Wrapper -->

<div id='aboutRow' class='row'>
	<div class="row">

<!-- 		<h1 class='aboutBig large-4 small-4 columns'>
			<%= image_tag "mePic3.jpg", :class => "mePic1 large-4 small-4 columns" %>
		</h1> -->

		<h2 class='aboutMed large-12 small-12 columns'>
			<%= image_tag "mePic3.jpg", :class => "mePic1 small-4" %>
			I'm Robert Sahm.<br />
			I totally dig design, code and most of all, the intersection between the two.
		</h2>

	</div>
	<div class="row">
		<p class="aboutP">
			I'm a self-taught web designer and developer, freelancing for 3 years in New York City. I build sites using Ruby on Rails, PHP, JavaScript/jQuery, HTML, CSS, SCSS, GitHub, Foundtion and Bootstrap...but of course I'm always looking for, and learning, best new tech(niques) to incorporate into my work. I'm also pretty snappy with these Adobe Apps:
		</p>
	</div>
	<div class="row adobeStuff">
		<!-- <p class="aboutP centered large-12 small-12 large-centered small-centered columns">
			I'm snappy with these Adobe apps:
		</p> -->
		<div class="large-6 small-11 columns">
			<%= image_tag "iconsAdobe.png", :class => "iconsAdobe" %>
		</div>
	</div>
	<div class="row">
		<p class="aboutP">
			I was born and raised in Bethesda, Maryland, then got my B.S. in video production from Ithaca College. In my spare time you'll find me writing, engineering, mixing and producing music. I also wrote, recorded and toured for 3 years with my band <a href="http://pitchfork.com/reviews/albums/13551-family/" target="_blank">Le Loup.
		</p>
	</div>
	<div class="row">
		<h3 class="aboutP centered large-12 small-12 large-centered small-centered columns">
			<a id="dlPDF" href="https://docs.google.com/file/d/0B9xSPI5ygokWN3JXUHBPMjE5UE0/edit?usp=sharing" target="_blank" >Download my resume</a>
		</h3>
	</div>
</div>
